.listTopNames {
  display: flex;
  width: 1062px;
  margin-left: 2px;
  margin-bottom: 10px;
}
.cellLeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.rank {
  width: 296px;
}
.score {
  width: 305px;
}
.name {
  width: 325px;
}
.listItem {
  display: flex;
  height: 119px;
  width: 1062px;
  margin-left: 2px;
  background: #fff;
  border-top: 1px solid black;
}
.cellLeader p {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}
