@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.mainContainer {
  margin-left: 17px;
  margin-top: 56px;
  height: 799px;
  width: 1062px;
}
.selectContainer {
  height: 102px;
}
.containerForSelect {
  display: flex;
  align-items: center;
  width: 440px;
  margin-left: 39px;
}
.id {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  margin-right: 17px;
}
