.bgContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.iconUser {
  margin-top: 48px;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background: #fffbfb;
  opacity: 0.62;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formLogin {
  width: 564px;
  height: 87px;
  background: #fcfcfc;
  border-radius: 29px;
  outline: none;
}
.BtnLogin {
  width: 218px;
  height: 87px;

  background: #202232;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;

  color: #ffffff;
}
.labelInput {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 10px;
  color: #000000;
  margin-left: 15px;
}
.containerLoginInput {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.containerPasswordInput {
  margin-top: 80px;
  height: 260px;
  display: flex;
  flex-direction: column;
}
.BtnBlock {
  display: flex;
  justify-content: space-between;
  width: 468px;
  margin-bottom: 10px;
}
.BtnReset {
  position: absolute;
  margin-left: 1050px;
  margin-top: 60px;
  width: 307px;
  height: 93.09px;

  background: #202232;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;

  color: #ffffff;
}
