@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.mainBoard {
  width: 1447px;
}
.topBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 127px;
  background-color: #fff;

  border-bottom: 7px solid #1a1b00;
}
.topBar p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #000000;
}
.leftBar {
  width: 344px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.leftBar ul {
  margin-top: 40px;
  box-sizing: content-box;
  margin-left: 10px;
}
.leftBar ul li {
  box-sizing: content-box;
  width: 100%;
  height: 107px;
}
.leaderContainer {
  display: flex;
  background-color: #e5e5e5;
  height: calc(100vh - 127px);
}
.containerStart {
  width: 100%;
  height: calc(100vh - 127px);
  background: linear-gradient(
    108.22deg,
    #f97c08 -2.93%,
    rgba(251, 140, 6, 0.881224) 16.57%,
    rgba(255, 169, 2, 0.66) 52.89%,
    rgba(247, 216, 59, 0.66) 109.53%
  );
}
.containerMenu {
  box-sizing: content-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 40px;
  padding-right: 90px;
}
.containerMenuBoard {
  box-sizing: content-box;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-left: 40px;
  padding-right: 90px;
  position: relative;
}
.containerMenu div {
  width: 500px;
}
.containerMenu a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin-left: 40px;

  color: #000000;
  text-decoration: none;
}
.logo {
  width: 233px;
  margin-left: 40px;
}
.logoUser {
  width: 80px;
}
.containerWebPanel {
  background-color: #f3f3f3;
  height: calc(100vh - 127px);
}
.loginMenu {
  position: absolute;
  width: 176px;
  height: 137px;
  margin-top: 105px;
  margin-left: 0;
  background: #eeeeee;
  box-sizing: border-box;
}

.linkStyle {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  padding: 0 15px;
}
.selected {
  background: #ff731d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #ffffff;
}
